spring:
  application:
    name: lucky_client
  config:
    import:
      - optional:classpath:api-info.yml

server:
  port: 8888

lucky:
  http-server:
    common:
      url: http://localhost:8864
    yun-xi:
      url: http://api.zhyunxi.com/api.php
      key: "#{sm4('a2bc538b43472d88bb681eb0475d0afabcf5a1bcd306de047de0d8abb4ae2ba580097781df3b0e52d5b9af3b2f1efdf4')}"

  http-client:
    #重试相关配置
    retry:
      count: 5
      enable: false
      strict-model: true
    #重定向相关配置
    redirect:
      # 开启重定向功能
      enable: false
      # 一次请求允许的最大重定向次数
      max-count: 5
      # 默认需要进行重定向操作的状态码
      status: [301, 302, 303, 304, 307, 308]
      # 获取重定向地址的SpEL表达式
      location: "#{$repHeader$.Location}"
      # 决定是否进行重定向的SpEL表达式，注：该配置的优先级要大于status
      condition: "#{You Condition}"
    thread-pool:
      async-model: java_thread
      alternative:
        pool1:
          core-pool-size: 15
          blocking-queue-size: 20
          maximum-pool-size: 20
          name-format: pool1-
          keep-alive-time: 1000
        pool2:
          core-pool-size: 6
          blocking-queue-size: 12
          maximum-pool-size: 12
          name-format: pool2-
          keep-alive-time: 1000
    #HTTP执行器相关的配置
    http-executor:
      global:
        executor: http_client5
      alternative:
        http1:
          executor: http_client5
          http-client:
            max-total: 5
            max-per-route: 4



    #日志相关的配置
    logger:
      type: beautiful
      packages:
        - io.github.lucklike.luckyclient.api
        - com.luckyframework.httpclient.generalapi
      warn-time: 400
      slow-time: 1500
      resp-body-max-length: 1024
    #Cookie管理器相关配置
    cookie-manage:
      enable: true
    #SSL相关配置
    ssl:
      key-stores:
        - id: test
          key-store-type: PKCS12
          key-store-password: ClientKeyStore@2024
          cert-password: ClientKeyStore@2024
          key-store-file: classpath:ssl/client.p12
        - id: test1
          key-store-type: PKCS12
          key-store-password: ServerKeyStore@2024
          key-store-file: classpath:ssl/server.p12
        - id: test2
          key-store-type: JKS
          key-store-password: TrustStore@2024
          key-store-file: classpath:ssl/truststore.jks
    #SpEL表达式相关配置
    spring-el:
      type-alias:
        Str: java.lang.String
      type-black-list:
        - java.lang.Runtime
        - java.lang.System
      function-classes:
        - clazz: io.github.lucklike.luckyclient.util.SM4Function
        - clazz: io.github.lucklike.luckyclient.api.cairh.BizException




lucky-server:
  http: http://localhost:8864
  https: https://localhost

cpe:
  service:
    CommonT2:
      url: http://127.0.0.1/bind
      requestExtension:
        handle:
          beanName: commonT2ParamHandle
        config:
          operator_no: 2464
          op_password: 111111
          op_station: CRH:IFS:OpStation
          op_branch_no: 100
    CommonT3:
      url: http://127.0.0.1:8080/bind
      operator_no: 2464
      op_password: 111111
      op_station: CRH:IFS:OpStation
      op_branch_no: 100
    HeheHttp:
      url: https://testsjkh.nesc.cn
      appId: system
      appSecret: 12345

baidu:
  mock:
    enable: true

ollama:
  url: http://localhost:11434
  model: deepseek-r1:1.5b

crh:
  nacos:
    server-addr: 111.229.161.129:8848
    namespace: fukang
    username: nacos
    password: nacos
    services:
      archive-backend:
        group: fukang
        service-name: cpe-products-archive-backend
      base-backend:
        group: fukang
        service-name: cpe-products-basedata-backend
      comp-backend:
        group: fukang
        service-name: cpe-products-component-backend
      front:
        group: fukang
        service-name: cpe-products-component-front

mock:
  config:
    mockPluginApi:
      enable: true
logging:
  level:
    root: info

init:
  bind:
    InitBindApi:
      config:
        app-id: 1234
        app-key: MY-APP-KEY
        app-secret: MY-APP-SECRET
        fun-code: 32
      query:
        app-key: MY-APP-KEY-QUERY-202511072318
        app-secret: MY-APP-SECRET-QUERY-202511072318

env-json:
  object:
    id: 1
    name: Jack
    age: 28
    email: jack@gmail.com
    phone: 17363312985
  array:
    - id: 2
      name: lucy
      age: 18
      email: lucy@gmail.com
      phone: 1212123
    - id: 2
      name: Tom
      age: 24
      email: tom@gmail.com
      phone: 434545


